.DS_Store
.Rhistory
.RData
.Rproj.user/
__pycache__/
*.pyc
.venv/
renv/library/
data/raw/**
data/interim/**
data/processed/**
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
results/figures/*.png
results/figures/*.tiff
results/figures/*.pdf
logs/*.log
manuscript/author_metadata_private*.yml
